@font-face {
    font-family: 'Leon';
    src: url(LeonSans-Medium.otf);
}

html {
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Leon', sans-serif;
}

body {
  color: #355560;
  background: url('Images/Ninja Spect Art 16 to 9.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
}

.container {
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: #99999944 0 0 4vw 0;
  margin-top: 5vh;
  margin-left: 39vw;
  margin-right: 39vw;
}

 
button {
  position: relative;
  overflow: hidden;
  transition:400ms;
  transition-property: all;
  color: #fff;
  background-color: #0064ff;
  padding: 10px 30px;
  outline: none !important;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  transition: 0.2s;
}

button:hover {
  box-shadow: #0064ff99 0 0 15px 0;
}

#gohome {
  transition: 1s;
}

#gohome:hover {
  transform: rotate(360deg);
}